/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Declearing variable */
:root {
  --body-background-color: #f9f9f9;
  --Primary-color: #0aa0f6;
  --Secondery-color: #30475e;
  --black: #222222;
}
/* Selecting font */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: var(--black);
  background-color: var(--body-background-color);
}

@media (orientation: landscape) {
  body {
    overflow: hidden;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

a,
a:active,
a:visited {
  color: var(--black);
}

a {
  text-decoration: none;
}

@import 'mixins';

@import 'header';

@import 'sidebar';

@import 'index';

@import 'services';

@import 'service';

@import 'contact';

@import 'modal';

.main {
  display: flex;
}

.content {
  width: 93vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 20px 0;
}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  @media (orientation: portrait) {
    body {
      overflow: auto;
    }
  }
  .main {
    flex-direction: column;
  }
  .content {
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    h2 {
      width: 100%;
      text-align: center;
    }
    .hero-img {
      width: 100%;
    }
  }
}
