/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Declearing variable */
:root {
  --body-background-color: #f9f9f9;
  --Primary-color: #0aa0f6;
  --black: #222222;
}
/* Selecting font */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: var(--black);
  background-color: var(--body-background-color);
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

a,
a:active,
a:visited {
  color: var(--black);
}

a {
  text-decoration: none;
}

@import 'mixins';

@import 'header';

@import 'sidebar';

@import 'services';

.main {
  display: flex;
}

.content {
  width: 93vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .content {
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    h2 {
      width: 100%;
      text-align: center;
    }
    .hero-img {
      width: 100%;
    }
  }
}
