/* tooltip */

@mixin tool-tip(
  $translateX: 50%,
  $translateY: -15%,
  $transform-origin: center right,
  $width: 100%,
  $z-index: -1
) {
  &::before {
    content: attr(data-tooltip);
    position: absolute;
    width: $width;
    transform: translateX(-50%) translateY(-17%) scale(0);
    transition: 700ms transform;
    transform-origin: $transform-origin;
    z-index: $z-index;
    font-size: 1rem;
    color: whitesmoke;
    padding: 1rem;
    border-radius: 0.3rem;
    text-align: center;

    background-color: var(--black);
  }
  &:hover::before {
    transform: translateX($translateX) translateY($translateY) scale(1);
  }
}

// @include tool-tip();
