/* tooltip */

@mixin tool-tip(
  $translateX: 50%,
  $translateY: -15%,
  $transform-origin: center right,
  $width: 100%,
  $z-index: -1
) {
  &::before {
    content: attr(data-tooltip);
    position: absolute;
    width: $width;
    transform: translateX(-50%) translateY(-17%) scale(0);
    transition: 700ms transform;
    transform-origin: $transform-origin;
    z-index: $z-index;
    font-size: 1rem;
    color: whitesmoke;
    padding: 1rem;
    border-radius: 0.3rem;
    text-align: center;

    background-color: var(--black);
  }
  &:hover::before {
    transform: translateX($translateX) translateY($translateY) scale(1);
  }
}

// @include tool-tip();

/* animations */

@mixin animi-left($animation-duration: 2s) {
  animation-name: animi-left;
  animation-duration: $animation-duration;
  animation-iteration-count: 1;
  animation-fill-mode: none;
}

@keyframes animi-left {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}

// @include animi-left();

@mixin animi-down($animation-duration: 2s) {
  animation-name: animi-down;
  animation-duration: $animation-duration;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-delay: 3s;
}

@keyframes animi-down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(500px);
  }
}

// @include animi-down();
