.service-container {
  width: 20vw;
  box-shadow: 11px -1px 6px #30475ebf;
  margin: 0 35px 35px 35px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  border: 1px solid var(--Secondery-color);
  background-clip: padding-box;
  .services-img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  h2 {
    margin-bottom: 10px;
    font-size: clamp(1rem, 1vw, 2rem);
  }
  p {
    line-height: 1.5rem;
  }
  .view-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--Secondery-color);
    color: whitesmoke;
    &:hover {
      background-color: var(--Primary-color);
    }
  }
}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .service-container {
    width: 90vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    .services-img {
      width: 100%;
    }
  }
}

/* Animation */

.services-animi-up-1 {
  animation-name: services-animi-up-1;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes services-animi-up-1 {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 768px) {
  @keyframes services-animi-up-1 {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

.services-animi-up-2 {
  animation-name: services-animi-up-2;
  animation-delay: 1s;
  animation-duration: 1s;
  transform: translateY(500px);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes services-animi-up-2 {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 768px) {
  @keyframes services-animi-up-2 {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

.services-animi-up-3 {
  animation-name: services-animi-up-3;
  animation-delay: 2s;
  animation-duration: 1s;
  transform: translateY(500px);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes services-animi-up-3 {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 768px) {
  @keyframes services-animi-up-3 {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
