<header>
  <div class='identy'>
    <img class='logo' src='./assets/images/logo.png' alt='Logo' />
    <h1>Web Marketizer</h1>
  </div>
  <div class='right-section'>
    <div class='heading-massage'>| {{this.Massage}} |</div>
    <div class='social-link-section'>
      <a
        href='https://www.fiverr.com/'
        target='_blank'
        class='social-link tooltip-fiverr'
        rel='noopener noreferrer'
        {{on 'mouseover' (fn this.ShowMassage 'Hire us at Fiverr')}}
      ><img
          class='fiverr-logo'
          src='./assets/images/fiverr.png'
          alt='fiverr'
        /></a>
      <a
        href='https://www.facebook.com/WebMarketizer'
        target='_blank'
        class='social-link tooltip-fb'
        rel='noopener noreferrer'
        {{on 'mouseover' (fn this.ShowMassage 'Visit our Facebook page')}}
      ><i class='fab fa-facebook'></i></a>
      <a
        href='https://linkedin.com'
        target='_blank'
        class='social-link tooltip-linkedin'
        {{on 'mouseover' (fn this.ShowMassage 'Visit our Linkedin page')}}
        rel='noopener noreferrer'
      ><i class='fab fa-linkedin'></i></a>
    </div>
  </div>

</header>