{{!-- {{yield}} --}}
<aside>
  <button class='nav-button active' data-tooltip='Home' type='button'>
    <i class='fas fa-house-user'></i>
  </button>
  <button class='nav-button' data-tooltip='Services' type='button'>
    <i class='fas fa-concierge-bell'></i>
  </button>
  <button class='nav-button' data-tooltip='Reviews' type='button'>
    <i class='fas fa-comment-dots'></i>
  </button>
  <button class='nav-button' data-tooltip='Clients' type='button'>
    <i class='fas fa-users'></i>
  </button>
  <button class='nav-button' data-tooltip='About' type='button'>
    <i class='fas fa-id-card-alt'></i>
  </button>
  <button class='nav-button' data-tooltip='Contact' type='button'>
    <i class='fas fa-phone'></i>
  </button>
</aside>