{{page-title 'Services'}}

<LinkTo
  class='service-container'
  @route='services.service'
  @model='graphic-design'
>
  <img
    class='services-img'
    src='./images/graphic_designer.gif'
    alt='Graphic Design'
  />
  <h2>Graphic Design</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
    numquam blanditiis...,</p>
</LinkTo>
<LinkTo
  class='service-container'
  @route='services.service'
  @model='web-development'
>
  <img
    class='services-img'
    src='./images/web_developer.gif'
    alt='Web Developer'
  />
  <h2>Web Development</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
    numquam blanditiis...,</p>
</LinkTo>

<LinkTo
  class='service-container'
  @route='services.service'
  @model='digital-marketing'
>
  <img
    class='services-img'
    src='./images/digital_marketer.gif'
    alt='Digital Marketer'
  />
  <h2>Digital Marketing</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
    numquam blanditiis...,</p>
</LinkTo>

{{!-- {{outlet}} --}}