<div class='single-service-layout'>
  <div class='content-section'>
    <h1>{{@model.ServiceName}}</h1>
    <div class='single-service-content'>
      {{@model.content}}
    </div>
  </div>
  <img class='single-service-img' src={{@model.image}} alt={{@model.ServiceName}} />
</div>