{{page-title 'Contact'}}

<div class='contact-page-layout'>
  <ContactForm />
  <img
    class='contact-us-img'
    src='./assets/images/contact.gif'
    alt='Contact us'
  />
</div>

{{!-- {{outlet}} --}}