<h2 class='hero-text'>Make your digital business live</h2>

<img class='hero-img' src='./images/banner.png' alt='Banner' />

{{! <div>Testing link: <LinkTo @route='services'> Services </LinkTo> </div>

<div>Testing link:
  <LinkTo @route='services.service' @model='1'>Single service</LinkTo>
</div> }}