{{page-title 'Web Marketizer'}}

<header>
  <div class='identy'>
    <img class='logo' src='./images/logo.png' alt='Logo' />
    <h1>Web Marketizer</h1>
  </div>
  <div class='social-link-section'>
    <a
      href='https://www.fiverr.com/'
      target='_blank'
      class='social-link tooltip-fiverr'
      data-tooltip='Hire us at Fiverr'
    ><img class='fiverr-logo' src='./images/fiverr.png' alt='fiverr' /></a>
    <a
      href='https://www.facebook.com/WebMarketizer'
      target='_blank'
      class='social-link tooltip-fb'
      data-tooltip='Go to our Facebook page'
    ><i class='fab fa-facebook'></i></a>
    <a
      href='https://linkedin.com'
      target='_blank'
      class='social-link tooltip-linkedin'
      data-tooltip='Go to our Linkedin page'
    ><i class='fab fa-linkedin'></i></a>
  </div>

</header>
<div class='main'>
  <aside>
    <button class='nav-button active' data-tooltip='Home' type='button'>
      <i class='fas fa-house-user'></i>
    </button>
    <button class='nav-button' data-tooltip='Services' type='button'>
      <i class='fas fa-concierge-bell'></i>
    </button>
    <button class='nav-button' data-tooltip='Reviews' type='button'>
      <i class='fas fa-comment-dots'></i>
    </button>
    <button class='nav-button' data-tooltip='Clients' type='button'>
      <i class='fas fa-users'></i>
    </button>
    <button class='nav-button' data-tooltip='About' type='button'>
      <i class='fas fa-id-card-alt'></i>
    </button>
    <button class='nav-button' data-tooltip='Contact' type='button'>
      <i class='fas fa-phone'></i>
    </button>
  </aside>

  <div class='content'>

    <h2>Make your digital business live</h2>

    <img class='hero-img' src='./images/banner.png' alt='Banner' />

  </div>
</div>

{{! <div>Testing link: <LinkTo @route='services'> Services </LinkTo> </div>

<div>Testing link:
  <LinkTo @route='services.service' @model='1'>Single service</LinkTo>
</div> }}