{{page-title 'Web Marketizer'}}

<Header />

<div class='main'>

  <Sidebar @onClickNav={{this.onClickNav}} />

  <div class='content'>

    <h2>Make your digital business live</h2>

    <img class='hero-img' src='./images/banner.png' alt='Banner' />

  </div>
</div>

{{! <div>Testing link: <LinkTo @route='services'> Services </LinkTo> </div>

<div>Testing link:
  <LinkTo @route='services.service' @model='1'>Single service</LinkTo>
</div> }}