<div class='home-layout'>
  <div class='text-section'>
    <h2 {{type-writter}} class='hero-text'>Make your digital business live</h2>
    <button class='call-to-action-btn' type='button'>Call to actrion</button>
  </div>
  <img
    {{afterload}}
    class='hero-img home-animi-left'
    src='./assets/images/banner.png'
    alt='Banner'
  />
</div>